{% load staticfiles %}
<!DOCTYPE html>
<html lang="es-Cl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <title>Administracion-MP-edicion</title>
</head>

<body>
    <!--Navbar-->
    <header class="container-fluid">
        <div class="row">
            <img class="logo" src="{% static 'img/logo.png' %}" alt="logo" srcset="">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="btn-group btn-group-justified">
                <ul>
                    <li><a href="/" class="btn">Inicio</a></li>
                    <li><a href="#" class="btn">Quienes Somos</a></li>
                    <li><a href="#" class="btn">Contáctanos</a></li>
                    <li><a href="/login" class="btn">Iniciar Sesión</a></li>       
                    <!--<li><a href="/formulario" class="btn">Registrar</a></li>-->
                </ul>
            </div>
        </div>
    </header>
    <br>
    <!--Formulario-->
    <div class="container-fluid">
        <h2>Registro de Rescatados:</h2>
        <br>
        <form action="/editado/{{perro.id}}" id="formulario2"s method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="">Nombre:</label>
            <input type="text" required name="nombrep" id="nombrep "  value="{{perro.nombrep}}" >
            <br>
            <label for="">Raza Predominante:</label>
            <input type="text" required name="raza" id="raza"  value='{{perro.raza}}' >
            <br>
            <label for="">Descripción:</label>
            <input type="text" required minlength="10" name="descripcion" id="descripcion" value='{{perro.descripcion}}'>
            <br>
            <div class="form-group">
                <label for="estado">Estado</label>
                <select required name="estado" class="" id="estado" >
                    <option value="RES">Rescatado</option>
                    <option value="DIS">Disponible</option>
                    <option value="ADO">Adoptado</option>
                </select>
            </div>
            <br>
            <input type="file" name="foto">
            <br>
            <br>
            <br>
            <input type="reset" class="btn-danger" value="Limpiar">
            <input type="submit" class="btn-success" value="guardar">
            <!--<div class="row">
                <div class="col-sm-3 col-md-6">
                    <input type="reset" class="btn btn-danger btn-block" value="Borrar">
                </div>
                <div class="col-sm- col-md-6">
                    <button type="submit" class="btn btn-success btn-block">Registrar</button>
                </div>
            </div>-->
            <br>
        </form>
    </div>

    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>