{% load staticfiles %}
<!DOCTYPE html>
<html lang="es-Cl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <title>Postulaciones - Mis Perris</title>
</head>

<body>
    <!--Navbar-->
    <header class="container-fluid">
        <div class="row">
            <img class="logo" src="{% static 'img/logo.png' %}" alt="logo" srcset="">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="btn-group btn-group-justified">
                <ul>
                    <li><a href="/" class="btn">Inicio</a></li>
                    <li><a href="/administrador" class="btn">Rescatados</a></li>
                    <li><a href="#" class="btn">Contáctanos</a></li>
                    <li><a href="/login" class="btn">Iniciar Sesión</a></li>       
                    <!--<li><a href="/formulario" class="btn">Registrar</a></li>-->
                </ul>
            </div>
        </div>
    </header>
    <br>
    <!--Formulario-->
    <div class="container-fluid">
        <h2>Registro de usuarios:</h2>
        <br>
        <form action="{% url 'crear' %}" id="formulario1" method="POST">
            {% csrf_token %}
            <label for="">Nombre de Usuario</label>
            <input type="text" required name="username" required minlength="6" id="username">
            <br>
            <label for="">Ingrese contraseña</label>
            <input type="password" required minlength="6" name="contrasenia" id="contrasenia">
            <br>
            <label for="">Re ingrese contraseña:</label>
            <input type="password" required name="recontrasenia" id="recontrasenia">
            <br>
            <label for="">Correo electrónico:</label>
            <input type="email" required name="correo" id="correo">
            <br>
            <label for="">Run:</label>
            <input type="text" required name="run" id="run">
            <br>
            <label for="">Nombre Completo:</label>
            <input type="text" required name="nombre" id="nombre">
            <br>
            <label for="">Fecha Nacimiento:</label>
            <input type="date" required name="fnacimiento" max="2000-12-31">
            <br>
            <label for="">Numero telefonico:</label>
            <input type="text" required name="ntelefono" onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
            <br>
            <div class="delete-float">
                <label for="region">Región:</label>
                <select requiered name="region" id="region">
                    <option hidden>Seleccione</option>
                </select>
            </div>
            <div class="delete-float">
                <label for="comuna">Comuna:</label>
                <select required name="comuna" id="comuna">
                    <option hidden>Seleccione</option>
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="casa">Seleccione tipo de casa</label>
                <select name="casa" class="" id="casa">
                    <option value="CPG">Casa patio grande</option>
                    <option value="CPP">Casa patio pequeño</option>
                    <option value="CSP">Casa sin patio</option>
                    <option value="DEP">Departamento</option>
                </select>
            </div>
            <br>
            <input type="reset" class="btn-danger" value="Limpiar">
            <input type="submit" class="btn-success" value="Registrar">
            <!--<div class="row">
                <div class="col-sm-3 col-md-6">
                    <input type="reset" class="btn btn-danger btn-block" value="Borrar">
                </div>
                <div class="col-sm- col-md-6">
                    <button type="submit" class="btn btn-success btn-block">Registrar</button>
                </div>
            </div>-->
            <br>
        </form>
    </div>

    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>