{% load staticfiles %}
<!DOCTYPE html>
<html lang="es-Cl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"type="text/css">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <title>Mis Perris</title>
</head>
<!--Navbar-->

<body>
    <header class="container-fluid">
        <div class="row">
            <img class="logo" src="{% static 'img/logo.png' %}" alt="logo" srcset="">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="btn-group btn-group-justified">
                <ul>
                    <li><a href="/" class="btn">Inicio</a></li>
                    <li><a href="#" class="btn">Quienes Sómos</a></li>
                    <li><a href="#" class="btn">Contáctanos</a></li>
                    <li><a href="/login" class="btn">Iniciar Sesión</a></li>                   
                    <!--<li><a href="/formulario" class="btn">Registrar</a></li>-->
                </ul>
                <!--<ul class="navbar-nav my-2 my-lg-0">
                    {% if usuario is not None %}
                 <li class="nav-item">Bienvenido {{usuario}} <a href="{% url 'cerrar_session' %}">Cerrar Sesión</a> </li>
                 {% else %}
                  <li class="nav-item"><a href="{% url 'login' %}">Ingresar</a> </li>
                  {% endif %}
                </ul>-->
            </div>
        </div>
    </header>


    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <!--indicadores-->
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <!--imagenes carrusel-->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100 alto-maximo" src="{% static 'img/adoptados/Apolo.jpg' %}" alt="First slide">
                <div class="carousel-caption" style="color: black  ">
                    <h1 class="texto" style="color:white">Apolo</h1>
                    <p class="texto" style="color:white">Desde que llegó se volvió la alegría del hogar</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 alto-maximo " src="{% static 'img/adoptados/Duque.jpg' %}" alt="Second slide">
                <div class="carousel-caption" style="color: black  ">
                    <h1 class="texto" style="color:white">Duque</h1>
                    <p class="texto" style="color:white">Adopotarlo fué la mejor decision que pudimos tomar</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 alto-maximo" src="{% static 'img/adoptados/Tom.jpg' %}" alt="Third slide">
                <div class="carousel-caption" style="color: black  ">
                    <h1 class="texto" style="color:white">Tom</h1>
                    <p class="texto" style="color:white">Desde que vimos a Tom supimos que era especial</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 alto-maximo" src="{% static 'img/adoptados/Jefferson.jpg' %}" alt="Third slide">
                <div class="carousel-caption ">
                    <h1 class="texto">Jefferson</h1>
                    <p class="texto">Nunca habia tenido un perro con tanto estilo</p>
                </div>
            </div>
        </div>
        <!--control del carrucel-->
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!--redes sociales-->
    <div class="container-fluid" id="food">
        <div class="row ">
            <div class="col-xs-12 col-md-4 under ">
                <ul>
                    <li><a target="_blank" class="iconos" href="https://www.facebook.com"><i class="fab fa-facebook-square fa-2x"></i></a></li>
                    <li><a target="_blank" class="iconos" href="https://twitter.com"><i class="fab fa-twitter-square fa-2x"></i></a></li>
                    <li><a target="_blank" class="iconos" href="https://instagram.com"><i class="fab fa-instagram fa-2x"></i></a></li>
                    <li><a target="_blank" class="iconos" href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com"></i></li><i
                        class="far fa-envelope fa-2x"></i></a>
                </ul>
            </div>
        </div>
    </div>
    <br>
    <!--Galeria-->
    <div class="container">
        <div class="row">
            <div id="derecho" class="col-xs-12 col-sm-6 col-md-6 ">
                <h2>Rescate</h2>
                <h6>Etapa uno</h6>
                <hr>
                <p>Rescatamos perros en situación de peligro y/o abandono. Los rehabilitamos y los prearamos para
                    buscarles un hogar.</p>
                <img src="{% static 'img/rescate.jpg' %}" class="imagenes" alt="rescate" srcset="">
            </div>
            <div id="izquierdo" class="col-xs-12 col-sm-6 col-md-6">
                <img src="{% static 'img/crowfunding.jpg' %}" class="imagenes" alt="crowfunding" srcset="">
                <h2>Crowfunding</h2>
                <h6>Financiamiento</h6>
                <hr>
                <p>Sigue nuestras redes sociales para informate acerca informarte acerca de las diversas campañas y
                    actividades que realizamos para obtener financiamiento para seguir ayudando.</p>
            </div>
        </div>
    </div>
    <br>
    <footer class="container-fluid" id="food">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="thumbnail">
                        <img class="img-responsive" src="{% static 'img/rescatados/Maya_tn.jpg' %}" alt="perro rescatado maya" width="100%"
                            height="300">
                        <div class="caption">
                            <h1>Maya</h1>
                            <p>Necesitamos casita para este peludo, es una hembra de tres meses aprox según
                                la veterinaria la cual la reviso y está sana, la desparasitamos, la encontramos vagando
                                por vespucio.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="thumbnail">

                        <img class="img-responsive" src="{% static 'img/rescatados/Oso_tn.jpg' %}" alt="perro rescatado oso" width="100%"
                            height="300">
                        <div class="caption">
                            <h1>Oso</h1>
                            <p>En adopción perrito hijo de mamá san bernardo, tiene casi cuatro meses! V región
                                Quilpué.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="thumbnail">
                        <img class="img-responsive" src="{% static 'img/rescatados/Wifi_tn.jpg' %}" alt="perro rescatado wifi" width="100%"
                            height="300">
                        <div class="caption">
                            <h1>Wifi</h1>
                            <p>Adoptado.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="thumbnail">
                        <img class="img-responsive" src="{% static 'img/rescatados/Chocolate_tn.jpg' %}" alt="perro rescatado chocolate"
                            width="100%" height="300">
                        <div class="caption">
                            <h1>Chocolate</h1>
                            <p>Denle la oportunidad a esta chico de tener un hogar. Tiene entre 4 y 5 meses y sera de
                                tamaño medio. Solo gente realmente interesada y comprometida con su tenencia. Comuna de
                                Independencia.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="thumbnail">

                        <img class="img-responsive" src="{% static 'img/rescatados/Bigotes.jpg' %}" alt="perro rescatado bigotes"
                            width="100%" height="300">
                        <div class="caption">
                            <h1>Bigotes</h1>
                            <p>Se da en adopcion a este bello cachorrito de mes y medio, desparasitado, ya come solito
                                y sera de mediano a pequeño. Con posibilidad de ir a dejar a su nuevo hogar.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="thumbnail">

                        <img class="img-responsive" src="{% static 'img/rescatados/Pexel_tn.jpg' %}" alt="perro rescatado pexel" width="100%"
                            height="300">
                        <div class="caption">
                            <h1>Pexel</h1>
                            <p>Cachorrito de 45 días con su primera vacuna y con sus desparacitaciones al dia. Muy
                                tierno y jugueton. Sera tamaño pequeño.</p>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="thumbnail">

                        <img class="img-responsive" src="{% static 'img/rescatados/Luna_tn.jpg' %}" alt="perro rescatado luna" width="100%"
                            height="300">
                        <div class="caption">
                            <h1>Luna</h1>
                            <p>Tiene 2 meses, fue encontrada cerca del metro zapadores, será grande. Está Vacunada y
                                desparasitada.</p>
                        </div>
                    </div>
                </div>
            </div>
    </footer>
    <footer>
        <!--Pie de pagina-->
        <p>Diseño web y móvil</p>
    </footer>

    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>