{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>lista</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"type="text/css">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <script src="main.js"></script>
</head>
<body>
    <!--Navbar-->
    <header class="container-fluid">
        <div class="row">
            <img class="logo" src="{% static 'img/logo.png' %}" alt="logo" srcset="">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="btn-group btn-group-justified">
                <ul>
                    <!--<li><a href="/" class="btn">Inicio</a></li>-->
                    <li><a href="#" class="btn">Quienes Sómos</a></li>
                    <li><a href="#" class="btn">Contáctanos</a></li>
                    <li><a href="/login" class="btn">Cerrar Sesión</a></li>                   
                    <!--<li><a href="/formulario" class="btn">Registrar</a></li>-->
                </ul>
            </div>
        </div>
    </header>
    {% block content %}
      <h2>Bienvenido</h2>
      <p>Hola {{ user.username }}!</p>
    {% endblock %}
    <div   >
        <br>
       <center> <h3>Listado de Perros</h3> <a  style='width:100px; height:35px'  class="btn btn-success"href="/administrador/">Agregar</a>
      
    </center>
       <br>
       <!-- es la tabla donde estan los elementos  -->
<table class="table table-bordered " >
    <thead style="  background-color:rgb(8, 184, 140) "  >
        <tr>
            <td style="color: white">ID</td>
            <td style="color: white">Nombre</td>
            <td style="color: white">Raza</td>
            <td style="color: white">Estado</td>
            <td ></td>
        </tr>
    </thead >
    <tbody >
        <!-- inicia el ciclo con los dato de la base de datos de perro -->
     {% for e in elementos%}
      <tr>
            <td>id{{e.id}}</td>
            <td>{{e.nombrep}}</td>
            <td>{{e.raza}}</td>
            <td>{{e.estado}}</td>
            <td> 
                <a  style='width:100px; height:35px'  class="btn btn-success"href="/editar/{{e.id}}">Editar</a>
                <a  style='width:100px; height:35px'  class="btn btn-danger"href="/eliminar/{{e.id}}">Eliminar</a> 
            </td>
       </tr>
    {% endfor %}
    </tbody>
    
</table> 
</div>



</body>
</html>