{% load staticfiles %}
<!DOCTYPE html>
<html lang="es-Cl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <!-- Bootstrap core CSS
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    Custom styles for this template
    <link href="https://getbootstrap.com/docs/4.1/examples/sign-in/signin.css" rel="stylesheet">-->
    <title>Inicio de Sesión - Mis Perris</title>

</head>

<body>
    <!--Navbar-->
    <header class="container-fluid">
        <div class="row">
            <img class="logo" src="{% static 'img/logo.png' %}" alt="logo" srcset="">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="btn-group btn-group-justified">
                <ul>
                    <li>
                        <a href="/" class="btn">Inicio</a>
                    </li>
                    <li>
                        <a href="#" class="btn">Quienes Somos</a>
                    </li>
                    <li>
                        <a href="#" class="btn">Contáctanos</a>
                    </li>
                    <!--<li><a href="/login" class="btn">Iniciar Sesión</a></li>-->
                    <!--<li><a href="/formulario" class="btn">Registrar</a></li>-->
                </ul>
    </header>


    <!--Formulario-->
    <form id="login1" method="POST" action="{% url 'listar' %}" role="login">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <label name="correo">Email:</label>
                    <input type="email" id="correo" class="form-control input-lg" name="correo" placeholder="ingrese su correo">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <label for="username">Contraseña:</label>
                    <input type="password" name="contrasenia" id="contrasenia" class="form-control" placeholder="Ingrese su Contraseña" required>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-md-6 col-md-offset-3">
                <div class="container">
                    <div>
                        <a href="#">¿Olvidó su contraseña?</a>
                        <br>
                        <br>
                        {% block content %}
                        <a href="{% url 'social:begin' 'facebook' %}">Iniciar con Facebook</a>
                        {% endblock %}
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-md  btn-success  btn-block" style='width:170px; height:45px' type="submit">Iniciar Sesión</button>
                </div>
                <br>
                <div class="form-group">
                    <!--<button type="button" class="btn btn-primary" style='width:170px; height:45px' href="">Registrar</button>-->
                    <a href="/formulario" class="btn btn-primary" style='width:170px; height:45px'>Registrar</a>
                </div>
            </div>
        </div>
    </form>

    <!--<form method="POST" class="form-signin" action="{% url 'iniciar' %}">
            {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesión</h1>
          <label for="inputEmail"  class="sr-only">email</label>
          <input type="text" id="inputEmail" name="nombre_usuario" class="form-control" placeholder="Email address" required autofocus>
          <label for="inputPassword" class="sr-only">Contraseña</label>
          <input type="password" name="contrasenia" id="inputPassword" class="form-control" placeholder="Password" required>
          <div class="checkbox mb-3">
           
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesión</button>
          <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
        </form>-->











    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>