.alto-maximo{
    max-height: 600px;
}
.under{
    background-color: #15c79a;
}
footer{
    background-color:  #c8d6e5;
    padding: 50px;
}
.imagenes{
    width: 60%;
    margin-top:15px;
    
}
#izquierdo{
    text-align: left;
}
#derecho{
    text-align: right;
}


header{
    background-color: #15c79a;
}

ul{
    list-style: none;
}
header ul li{
    float: left;
    margin:15px;
}
header ul li a{
    text-decoration: none;
    color:#fff;
}
header ul li a:hover{
    text-decoration: none;
    color:#dcdde1;
}
.center-img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    max-height: 350px;
    margin-top:10px;
    margin-bottom: 60px;
}
#perro{
    background-color: #15c79a;
    color: #fff;
    text-align: center;
   
}
.iconos{
    color: #ffffff;
}

ul li li{
    
}
ul li {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}
.texto{
    text-align: left;
}
#food{
    background-color: #15c79a;
    color: #fff;
    
   
}
input {
    float: left;
    width: 200px;
    margin-bottom: 10px;
  }
  
  label {
    clear: both;
    float: left;
    width: 180px;
  }
  
  button {
    clear: both;
    float: left;
    width: 50px;
  }
  
  .error-control {
    border: 1px solid red;
  }
  
  label.error {
    color: red;
    width: 300px;
    font-size: 0.8em;
    margin-top: -5px;
    margin-bottom: 10px;
  }
  .delete-float{
    margin-top: 25px;
    clear: both;
}
.form-group{
    margin-top: 25px;
    clear: both;
}
submit{
    clear: both;
    float: left;
    width: 50px;
}

